# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.python-version

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/
pip-wheel-metadata/

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Logs
*.log

# Environment variables
.env
.env.*

# Database files
*.sqlite3
*.db

# Other
*.bak
*.tmp
*.zip
*.tar.gz
*.rar

.met 
.claude
.txt~